DirectoryIndex login.php

# 1. Halang akses ke fail sensitif (seperti .env)
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# 2. Matikan paparan senarai folder (Directory browsing)
Options -Indexes

# 3. Sembunyikan .php dari URL (Clean URL)
RewriteEngine On
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^\ ]+)\.php
RewriteRule ^/?(.*)\.php$ /$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]
